html {
	height:100%;
}

body {
	background-color: #333333;
	overflow-x: hidden;
}

.timer {
	text-align: center;
	font-family: "Arial", sans-serif;
	color: #DDDDDD;
}

.timer[data-digits="4"] {
	font-size: 35vw;
}

.timer[data-digits="5"] {
	font-size: 27vw;
}

.timer[data-digits="6"] {
	font-size: 23vw;
}

@media (min-width: 1000px) {
	.timer[data-digits="4"] {
		font-size: 350px;
	}

	.timer[data-digits="5"] {
		font-size: 270px;
	}

	.timer[data-digits="6"] {
		font-size: 230px;
	}
}

.smallTextParent {
	overflow: auto;
}

.smallText {
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	color: #DDDDDD;
	font-size: 25pt;
}

.footer {
	font-family: "Arial", sans-serif;
	font-weight: bold;
	color: #DDDDDD;
	font-size: 17pt;
	position: fixed;
	margin: 15px;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

@media (min-width: 500px) {
	.leftText {
		float: left;
	}

	.rightText {
		float: right;
	}
}

a {
	color: #DDDDDD;
	border: none;
}

@media (max-width: 600px) {
	body {
		margin: 8px;
	}
	.smallText {
		margin-top: 8px;
		font-size: 17pt;
	}

	.footer {
		font-size: 17pt;
	}
}

body[data-show-rain="false"] .rain {
	display: none;
}

.rain {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
}

.rain.front-row {
	top: 0;
}

.rain.back-row {
	z-index: 1;
	bottom: 60px;
	opacity: 0.5;
}

.drop {
	position: absolute;
	bottom: 100%;
	width: 15px;
	height: 120px;
	pointer-events: none;
}

body[data-show-rain="true"] .drop {
	animation: drop 0.5s linear infinite;
}

@keyframes drop {
	0% {
		transform: translateY(0vh);
	}
	75% {
		transform: translateY(90vh);
	}
	100% {
		transform: translateY(90vh);
	}
}

.stem {
	width: 1px;
	height: 60%;
	margin-left: 7px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}

body[data-show-rain="true"] .stem {
	animation: stem 0.5s linear infinite;
}

@keyframes stem {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.splat {
	width: 15px;
	height: 10px;
	border-top: 2px dotted rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	opacity: 1;
	transform: scale(0);
	display: none;
}

body[data-show-rain="true"] .splat {
	animation: splat 0.5s linear infinite;
}

body.splat-toggle .splat {
	display: block;
}

@keyframes splat {
	0% {
		opacity: 1;
		transform: scale(0);
	}
	80% {
		opacity: 1;
		transform: scale(0);
	}
	90% {
		opacity: 0.5;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}
