html,body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: Roboto;
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	color: #ffffff;
	/* background: #336601; */
}

.countdownDisplay {
	font-size: 67vh;
	float: left;
}

.nextDisplay {
	font-size: 28.5vh;
	font-weight: 300;
	margin-bottom: 13vh;
	line-height: 1;
	margin-left: 4vh;
}

.nextDisplay:before {
	content: "to ";
}

.container {
	width: 100%;
}

body:not([data-day-type]) .container>div {
	display: none;
}

body[data-day-type="message"] .timetableDayContainer {
	display: none;
}

body[data-day-type="timetable"] .messageDayContainer {
	display: none;
}

.timetableDayContainer {
	display: flex;
	align-items: flex-end;
	width: 100%;
	justify-content: center;
}

.messageDayContainer {
	width: 100%;
	text-align: center;
}

.messageDisplay {
	font-size: 30vh;
	font-weight: 300;
	line-height: 1;
}
